<platform>

	<agent id="a01" label="PointingMode" type="acting" uncertainty="3">

		<command type="pc">
			<name>comm</name>
			<duration>20</duration>
		</command>
		
		<command type="pc">
			<name>maintenance</name>
			<duration>8</duration>
		</command>
		
	</agent>
	
	
	<agent id="a02" label="Window" type="acting" uncertainty="0">

		<command type="pc">
			<name>visible</name>
			<duration>80</duration>
		</command>
		
		<command type="pc">
			<name>notvisible</name>
			<duration>10</duration>
		</command>
		
	</agent>

</platform>