@prefix rdf:	http://www.w3.org/1999/02/22-rdf-syntax-ns#
@prefix ftlp:	http://www.uniroma3.it/ontologies/ftlp#


[rule-a:
	(?d1 rdf:type ftlp:Decision), (?d2 rdf:type ftlp:Decision),
	notEqual(?d1, ?d2),
	(?d1 ftlp:Before ?d2)
	->
	(?d1 ftlp:ordering ?d2)]

[rule-b:
	(?d1 rdf:type ftlp:Decision), (?d2 rdf:type ftlp:Decision),
	notEqual(?d1, ?d2),
	(?d1 ftlp:Contains ?d2)
	->
	(?d1 ftlp:ordering ?d2)]

[rule-c:
	(?d1 rdf:type ftlp:Decision), (?d2 rdf:type ftlp:Decision),
	notEqual(?d1, ?d2),
	(?d1 ftlp:During ?d2)
	->
	(?d2 ftlp:ordering ?d1)]

[rule-e:
	(?d1 rdf:type ftlp:Decision), (?d2 rdf:type ftlp:Decision), (?d3 rdf:type ftlp:Decision),
	notEqual(?d1, ?d2), notEqual(?d1, ?d3), notEqual(?d2, ?d3),
	(?d1 ftlp:Contains ?d2), (?d2 ftlp:During ?d3)
	->
	(?d3 ftlp:ordering ?d1)]




	

[rule-i:
	(?d1 rdf:type ftlp:Decision), (?d2 rdf:type ftlp:Decision), (?d3 rdf:type ftlp:Decision), (?d4 rdf:type ftlp:Decision),
	notEqual(?d1, ?d2), notEqual(?d1, ?d3), notEqual(?d1, ?d4), notEqual(?d2, ?d3), notEqual(?d2, ?d4), notEqual(?d3, ?d4),
	(?d3 ftlp:CausalRelation ?d1), (?d4 ftlp:CausalRelation ?d2), (?d1 ftlp:ordering ?d2)
	->
	(?d3 ftlp:ordering ?d2), (?d3 ftlp:ordering ?d4)]
	
[rule-l:
	(?d1 rdf:type ftlp:Decision), (?d2 rdf:type ftlp:Decision), (?d3 rdf:type ftlp:Decision),
	notEqual(?d1, ?d2), notEqual(?d1, ?d3), notEqual(?d2, ?d3),
	(?d1 ftlp:ordering ?d2), (?d2 ftlp:ordering ?d3)
	->
	(?d1 ftlp:ordering ?d3)]

	
	
